[submodule "dotfiles/fish/base16-shell"]
	path = dotfiles/fish/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "dotfiles/vim/bundle/base16-vim"]
	path = dotfiles/vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/vim-jsx"]
	path = dotfiles/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "dotfiles/vim/bundle/vim-javascript"]
	path = dotfiles/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/syntastic"]
	path = dotfiles/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
